/*font-family: 'Roboto', sans-serif;*/

body {
	font-family: 'Roboto', sans-serif;
	background-color: #f6f5f5;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(4, 137, 152, 0.5);
}

.menu-logo {
	padding: 0 2rem;
}

.menu-contenedor {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.menu-item {
	padding: 0 0.5rem;
}

.menu-item,
.submenu-item {
	list-style: none;
}

.menu-item a {
	color: #ffffff;
	text-decoration: none;
	padding: 1rem 2rem;
	transition: 0.3s all;
}

.menu-item a:hover {
	background-color: rosybrown;
}

.submenu {
	position: relative;
}

.submenu-contenedor {
	display: block;
	background-color: #ffffff;
	position: absolute;
	right: 0;
	top: 200%;
	z-index: 10;
	transform: scale(0.4);
	transform-origin: 70% top;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s all;
}

.submenu:hover .submenu-contenedor {
	top: 200%;
	transform: scale(1);
	visibility: visible;
	opacity: 100;
}

.submenu-item a {
	display: inline-block;
	width: 100%;
	color: rgba(4, 137, 152, 1);
}

.submenu-item a:hover {
	color: #ffffff;
}

/*Imagen Principal*/

.imagen-principal {
	height: 500%;
	position: relative;
}

.imagen-principal img {
	height: 500%;
	object-fit: cover;
}

/*Texto*/

.imagen-descripcion {
	color: #ffffff;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: flex-end;
	background-color: rgba(0, 0, 0, 0);
	transition: 0.3s;
}

.imagen-principal:hover .imagen-descripcion {
	background-color: rgba(0, 0, 0, 0.3);
}

.imagen-descripcion h1 {
	transition: 0.3s;
}

.imagen-descripcion:hover h1 {
	padding-left: 1rem;
	/*Termina la imagin principal*/
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.info-contenedor {
	/*margin: 4px;*/
	width: 100%;
	background: #f2f2f2;
	/*font-family: Georgia, 'Times New Roman', Times, serif;*/
}

.info-main {
	width: 98%;
	max-width: 1000px;
	margin: auto;
	text-align: center;
	padding: 30px 200px;
}

.info-main h3 {
	color: #00c6ee;
	font-size: 40px;
	text-align: center;
}

.info-main p {
	padding: 20px 0;
}

.info-main a {
	display: inline-block;
	background: #bf0026;
	color: #ffffff;
	text-decoration: none;
	padding: 12px 20px;
}

footer {
	width: 100%;
	font-family: Raleway;
}

.footer-container {
	width: 100%;
	background: #272727;
	color: #fff;
}

.footer-main {
	width: 98%;
	max-width: 1000px;
	margin: auto;
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.footer-main .footer-columna {
	width: calc(100% / 3);
	text-align: justify;
}

.footer-main .footer-columna:nth-child(2) {
	padding: 0 20px;
}

.footer-main .footer-columna h3 {
	font-size: 32px;
	color: #00c6ee;
	margin-bottom: 20px;
}

.footer-main .footer-columna input[type='email'] {
	border: none;
	width: 100%;
	border: 1px solid #00c6ee;
	font-size: 14px;
	padding: 10px;
	font-family: Raleway;
}

.footer-main .footer-columna input[type='submit'] {
	border: none;
	background: #00c6ee;
	color: rgb(255, 255, 255);
	padding: 10px 40px;
	font-size: 18px;
	margin-top: 10px;
	cursor: pointer;
	font-family: Raleway;
}

.footer-main .footer-columna span p {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Raleway;
}

.footer-copy-redes {
	width: 100%;
	background: #000;
	border-top: 3px solid rgb(133, 31, 31);
}

.main-copy-redes {
	width: 98%;
	max-width: 1000px;
	padding: 15px 0;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.main-copy-redes .footer-copy {
	width: 70%;
	color: #fff;
}

.main-copy-redes .footer-redes {
	width: 30%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main-copy-redes .footer-redes a {
	display: inline-block;
	text-decoration: none;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	background: #fff;
	color: #000;
	text-align: center;
}

@media screen and (max-width: 750px) {
	.info-main {
		padding: 30px 100px;
	}
	.footer-main .footer-columna {
		padding: 0 10px;
	}
	.footer-main .footer-columna h3 {
		font-size: 28px;
	}
	.footer-main .footer-columna p {
		font-size: 14px;
	}
}

@media screen and (max-width: 640px) {
	.info-main {
		padding: 30px 30px;
	}
	.info-main h3 {
		font-size: 30px;
	}
	.footer-main {
		padding: 10px 0;
	}
	.footer-main .footer-columna {
		width: 100%;
		text-align: center;
		margin: 10px 0;
	}
	.footer-main .footer-columna h3 {
		margin-bottom: 5px;
	}
	.footer-main .footer-columna span {
		display: block;
	}
	.main-copy-redes .footer-copy {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.main-copy-redes .footer-redes {
		width: 80%;
		margin: auto;
	}
}
