@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 75%;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #e2ecf7;
	color: #000000;
}

@media (max-width: 575.98px) {
	html {
		font-size: 70%;
	}
}

/*-------------------- CUSTOM --------------------*/
.w-100 {
	width: 100%;
}

.bg-white {
	background-color: #ffffff;
}

img {
	width: 100%;
	object-fit: cover;
}

.texto-centro {
	text-align: center;
}

.texto-derecha {
	text-align: right;
}

p,
a,
span {
	margin: 1rem 0;
	line-height: 2rem;
	font-size: 1.3rem;
	color: #939393;
}

a {
	text-decoration: none;
}

.mt-3 {
	margin-top: 1rem;
}

.padding-1rem {
	padding: 1rem;
}

.contenedor {
	display: block;
	border-radius: 17px;
	width: 85%;
	margin: 0 auto;
}

@media (max-width: 575.98px) {
	.contenedor {
		width: 90%;
	}
}

/*-------------------- TITULOS --------------------*/
h1 {
	font-size: 4rem;
	font-weight: bold;
	font-family: 'Rowdies', cursive;
}
h2 {
	font-size: 3.5rem;
	font-family: 'Rowdies', cursive;
}
h3 {
	font-size: 3rem;
	font-family: 'Rowdies', cursive;
}
h4 {
	font-size: 2.5rem;
	font-family: 'Rowdies', cursive;
}
h5 {
	font-size: 2rem;
	font-family: 'Rowdies', cursive;
}
h6 {
	font-size: 1.5rem;
	font-family: 'Rowdies', cursive;
}

@media (max-width: 575.98px) {
	h2 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 2rem;
	}
	h4 {
		font-size: 1.5rem;
	}
	h5 {
		font-size: 1rem;
	}
	h6 {
		font-size: 1rem;
	}
}

/*-------------------- BOTONES --------------------*/
.boton {
	color: #ffffff;
	background-color: #981304;
	border: 1px solid transparent;
	outline: none;
	font-size: 18px;
	padding: 1rem 1.5rem;
	display: inline-block;
	cursor: pointer;
	border-radius: 0.25rem;
	transition: 0.3s all;
}

.boton:hover {
	color: #981304;
	background-color: #ffffff;
	border: 1px solid #981304;
}

.boton-1,
input[type='submit'] {
	display: inline-block;
	margin: 2rem 0;
	border-radius: 35px;
	text-decoration: none;
	font-size: 1.3rem;
	border: none;
	outline: none;
	padding: 1rem 2rem;
	background-color: #ed492f;
	color: #ffffff;
	box-shadow: -6px -6px 20px #ffffff, 6px 6px 20px rgba(0, 0, 0, 0.3), inset 0px 0px 0px rgba(255, 255, 255, 0.5), inset 0px 0px 0px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	transition: 0.2s all;
}

.boton-1:active,
input[type='submit']:active,
input[type='submit']:focus {
	color: #ffffff;
	box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px rgba(0, 0, 0, 0.3), inset -4px -4px 10px rgba(255, 255, 255, 0.5), inset 4px 4px 10px rgba(0, 0, 0, 0.15);
}

/*-------------------- MENU --------------------*/

#btn-menu {
	display: none;
}

nav label {
	display: none;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 2rem;
	cursor: pointer;
}

nav {
	width: 100%;
	position: fixed;
	display: flex;
	top: 0;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255, 255, 255, 1);
	z-index: 100;
}

.menu-logo {
	padding: 0 2rem;
}

.img-logo {
	width: 30%;
}

.menu-contenedor {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.menu-item {
	padding: 0 0.5rem;
}

.menu-item,
.submenu-item {
	list-style: none;
}

.menu-item a,
.menu-item span {
	display: inline-block;
	position: relative;
	color: #f02c53;
	text-decoration: none;
	font-weight: 500;
	padding: 0.7rem 1.5rem;
	outline: none;
	cursor: pointer;
	transition: 0.3s all;
}

.menu-item a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 3px;
	box-shadow: 0px -5px 0px 0px #ffbb44;
	transition: 0.3s all;
}

.menu-item a:hover::before {
	width: 100%;
}

.submenu {
	position: relative;
}

.submenu-contenedor {
	display: block;
	background-color: #ffffff;
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 10;
	transform: scale(0.4);
	transform-origin: 70% top;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s all;
}

.submenu:hover .submenu-contenedor {
	top: 100%;
	transform: scale(1);
	visibility: visible;
	opacity: 100;
}

.submenu-item a {
	display: inline-block;
	font-weight: 500;
	width: 100%;
	color: #f02c53;
}

.submenu-item a:hover {
	border-radius: 0;
}

@media (max-width: 575.98px) {
	nav label {
		display: block;
	}

	.menu-logo {
		width: 100%;
		padding: 0 2rem 0 0;
		text-align: right;
	}

	.menu-logo img {
		width: 20%;
	}

	.menu-contenedor {
		position: absolute;
		top: 100%;
		background-color: #ffffff;
		width: 100%;
		margin-left: -100%;
		transition: 0.5s;
	}

	.menu-contenedor {
		flex-direction: column;
	}

	.checkbox:checked ~ .menu-contenedor {
		margin: 0;
	}

	.menu-item {
		width: 100%;
		text-align: center;
	}

	.submenu-contenedor {
		left: 0;
	}
}

/*-------------------- IMAGEN PRINCIPAL --------------------*/

.imagen-principal {
	height: 700px;
	position: relative;
	margin-top: 4rem;
	overflow: hidden;
	background-color: #ffffff;
}

.imagen-fondo {
	width: 66%;
	height: 700px;
	text-align: right;
	margin-left: auto;
}

.imagen-fondo-figura {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.imagen-fondo-figura .index {
	width: 50%;
}

.imagen-fondo-figura .contacto {
	width: 60%;
}

.imagen-fondo-figura .nosotros {
	width: 40%;
	margin-right: 2rem;
}

.imagen-descripcion {
	width: 50%;
	height: 100%;
	padding: 0 0.5rem;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: 0.3s;
}

.imagen-descripcion p {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 1rem;
}

.buscador-contenedor {
	width: 90%;
	display: flex;
}

@media (max-width: 575.98px) {
	.imagen-principal,
	.imagen-fondo {
		height: 660px;
		width: 100%;
	}

	.imagen-descripcion {
		width: 100%;
		padding: 0 1rem;
	}

	.buscador-contenedor input[type='text'] {
		width: 80%;
	}

	.imagen-fondo-figura .index {
		width: 80%;
	}

	.imagen-fondo-figura .contacto {
		width: 100%;
	}
}

/*-------------------- CONTENEDOR SUBTITULO --------------------*/

.contenedor-subtitulo {
	padding: 2rem 1rem;
	margin: 5rem auto;
	border-radius: 17px;
	box-shadow: -8px -8px 20px #ffffff, 8px 8px 20px rgba(0, 0, 0, 0.3);
}

/*-------------------- IMAGEN SECUNDARIO --------------------*/

.producto {
	background: url('../img/imagen-1.jpg');
}

.servicio {
	background: url('../img/servicios-1.jpg');
}

.imagen-secundario {
	width: 100%;
	height: 300px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.imagen-secundario-descripcion {
	position: absolute;
	top: 0;
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
}

.producto .imagen-secundario-descripcion {
	border-bottom: 20px solid #2f74ed;
}

.servicio .imagen-secundario-descripcion {
	border-bottom: 20px solid #ffbb44;
}

.imagen-secundario-descripcion h2 {
	color: #ffffff;
	font-size: 3rem;
}

/*-------------------- PRODUCTOS Y SERVICIOS - TARJETAS --------------------*/

.card-contenedor {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2rem;
	margin: 5rem auto;
}

.card-contenedor article {
	transition: 0.4s all;
}

.card-contenedor article:hover {
	transform: translateY(-10px);
}

.card-item {
	background: #ffffff;
	border-radius: 35px;
	padding: 2rem 1rem;
	text-align: center;
	box-shadow: -8px -8px 20px #ffffff, 8px 8px 20px rgba(0, 0, 0, 0.3);
}

.card-img {
	border-radius: 50%;
	overflow: hidden;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	box-shadow: 0px 4px 4px rgba(47, 116, 237, 0.25);
}

.card-img img {
	height: 100%;
}

.card-descripcion {
	margin-top: 2rem;
}

@media (max-width: 575.98px) {
	.card-contenedor {
		grid-template-columns: 1fr;
	}

	.card-contenedor article {
		width: 100%;
	}

	.card-img {
		width: 180px;
		height: 180px;
	}
}

/*-------------------- FOOTER --------------------*/

footer {
	background: rgba(13, 179, 199, 0.8);
}

.contacto-subscribete-contenedor {
	display: flex;
	justify-content: space-between;
	padding: 2rem;
}

.contacto-subscribete-contenedor h4 {
	color: #ffffff;
	margin-bottom: 1rem;
}

.contacto-subscribete-contenedor p {
	color: #ffffff;
	margin: 0;
}

.contacto-subscribete-contenedor p:nth-child(1) {
	font-weight: bold;
}

.contenedor-social {
	display: flex;
	justify-content: space-around;
	margin: 2rem auto;
}

.contenedor-social-item {
	width: 3rem;
	height: 3rem;
	background-color: #ffffff;
	line-height: 3rem;
	text-align: center;
	border-radius: 50%;
	color: #000000;
}

.contenedor-derechos {
	padding: 1rem 0;
	color: #ffffff;
	background: rgba(7, 89, 100, 0.8);
}

@media (max-width: 575.98px) {
	.contacto-subscribete-contenedor {
		flex-direction: column;
	}

	.contacto-subscribete-contenedor > div:nth-child(2) {
		margin-top: 1.5rem;
	}
}

/*-------------------- PAGINA CONTACTO --------------------*/
.contacto-contenedor {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.contacto-figura {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contacto-formulario {
	padding: 1rem;
	text-align: center;
	width: 100%;
	margin: 3rem auto;
	background-color: #ffffff;
}

.formulario-control {
	text-align: left;
	padding: 1rem;
	margin-bottom: 1.3rem;
}

.formulario-control label {
	display: inline-block;
	margin-bottom: 1rem;
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea,
select {
	font-size: 1.3rem;
	width: 100%;
	padding: 1.3rem 2rem;
	border: 1px solid #e2ecf7;
	box-shadow: -5px -3px 10px #ffffff, 5px 3px 10px rgba(0, 0, 0, 0.3), inset 0px 0px 0px rgba(255, 255, 255, 0), inset 0px 0px 0px rgba(0, 0, 0, 0);
	background-color: #ffffff;
	color: #1b1b1b;
	border-radius: 35px;
	outline: 0;
	transition: 0.2s all;
}

input:focus,
textarea:focus,
select:focus {
	color: #1b1b1b;
	border-color: rgba(4, 137, 152, 1);
	outline: 0;
	box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px rgba(0, 0, 0, 0.3), inset -4px -4px 10px rgba(255, 255, 255, 0.5), inset 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.formulario-boton {
	padding: 0 2rem;
	margin-left: 0.5rem;
	line-height: 48px;
	text-align: center;
	border-radius: 35px;
	border: none;
	outline: none;
	color: #ffffff;
	box-shadow: -5px -3px 10px #ffffff, 5px 3px 10px rgba(0, 0, 0, 0.3);
	background: linear-gradient(90deg, rgba(178, 35, 87, 1) 0%, rgba(237, 47, 116, 1) 100%);
	cursor: pointer;
	transition: 0.2s all;
}

.formulario-boton:active {
	box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px rgba(0, 0, 0, 0.3), inset -4px -4px 10px rgba(255, 255, 255, 0.5), inset 4px 4px 10px rgba(0, 0, 0, 0.15);
}

@media (max-width: 575.98px) {
	.contacto-contenedor {
		display: grid;
		grid-template-columns: 1fr;
	}
}

/*-------------------- PAGINA DE NOSOTROS --------------------*/

.info-contenedor {
	display: flex;
	justify-content: space-around;
	margin-bottom: 10rem;
	margin-top: 10rem;
}

.card-2-contenedor {
	width: 30%;
	padding: 4rem;
	background-color: #2f74ed;
	color: #ffffff;
	border-radius: 17px;
	text-align: center;
	box-shadow: -8px -8px 20px #ffffff, 8px 8px 20px rgba(0, 0, 0, 0.3);
}

.card-2-contenedor p {
	color: #ffffff;
}

.card-2-contenedor li {
	list-style: none;
	font-size: 1.5rem;
}

.equipo-titulo-contenedor {
	width: 100%;
	height: 400px;
	margin-top: 10rem;
	position: relative;
	background-color: rgba(255, 255, 255, 0.7);
}

.equipo-titulo-img:nth-child(1) {
	position: absolute;
	top: 0;
	left: 10%;
}

.equipo-titulo-img:nth-child(2) {
	position: absolute;
	top: 0;
	right: 10%;
}

.equipo-titulo-img img {
	width: 400px;
	height: 400px;
}

.equipo-titulo {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.equipo-contenedor {
	margin-top: 20rem;
	margin-bottom: 20rem;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.card-3-contenedor {
	position: relative;
	width: 20%;
	padding: 4rem;
	background-color: #2f74ed;
	color: #ffffff;
	border-radius: 17px;
	text-align: center;
	box-shadow: -8px -8px 20px #ffffff, 8px 8px 20px rgba(0, 0, 0, 0.3);
}

.card-3-header {
	width: 200px;
	height: 200px;
	position: absolute;
	top: -100px;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: #ffffff;
	padding: 0.5rem;
	border-radius: 50%;
}

.card-3-body {
	margin-top: 100px;
	color: #ffffff;
}

.card-3-body p {
	color: #ffffff;
	font-style: italic;
}
