* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #e2ecf7;
	color: #000000;
	line-height: 1.5;
	font-size: 1rem;
}

/*-------------------- CUSTOM --------------------*/
.w-100 {
	width: 100%;
}

.bg-white {
	background-color: #ffffff;
}

.color-blanco {
	color: #ffffff;
}

.line {
	width: 90%;
	height: 3px;
	margin: 0.5rem auto;
	border-radius: 17px;
	background-color: #ffbb44;
}

.line-2 {
	width: 100%;
	height: 3px;
	margin: 2rem 0;
	border-radius: 17px;
	background-color: #ffbb44;
}

img {
	width: 100%;
	object-fit: cover;
}

.texto-centro {
	text-align: center;
}

.texto-derecha {
	text-align: right;
}

p,
a,
span {
	margin: 1rem 0;
	color: #939393;
}

a {
	text-decoration: none;
}

.mt-3 {
	margin-top: 1rem;
}

.padding-1rem {
	padding: 1rem;
}

.contenedor {
	display: block;
	border-radius: 17px;
	width: 75%;
	margin: 0 auto;
}

li {
	list-style: none;
	color: #939393;
	line-height: 2rem;
}

@media (max-width: 575.98px) {
	.contenedor {
		width: 90%;
	}
}

/*-------------------- TITULOS --------------------*/
h1 {
	font-size: 2.5rem;
	font-weight: bold;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.75rem;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: 1px;
}

@media (max-width: 575.98px) {
	h2 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 2rem;
	}
	h4 {
		font-size: 1.5rem;
	}
	h5 {
		font-size: 1rem;
	}
	h6 {
		font-size: 1rem;
	}
}

/*-------------------- BOTONES --------------------*/

.boton {
	display: inline-block;
	margin: 1rem 0;
	text-align: center;
	vertical-align: middle;
	border-radius: 35px;
	text-decoration: none;
	font-size: 1rem;
	line-height: 1.5;
	border: 1px solid transparent;
	outline: none;
	padding: 0.4rem 0.8rem;
	background-color: #e2ecf7;
	color: #ffffff;
	box-shadow: -6px -6px 20px #ffffff, 6px 6px 20px rgba(0, 0, 0, 0.3), inset 0px 0px 0px rgba(255, 255, 255, 0.5), inset 0px 0px 0px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	transition: 280ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.boton:active,
input[type='submit']:active,
input[type='submit']:focus {
	color: #aaaaaa;
	box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px rgba(0, 0, 0, 0.3), inset -4px -4px 10px rgba(255, 255, 255, 0.5), inset 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.boton-color-1 {
	background-color: #2f74ed;
}

.boton-color-2 {
	background-color: #ed2f74;
}

.boton-color-3 {
	background-color: #ed492f;
}

.boton-color-4 {
	background-color: #2fed8e;
}

.boton-color-1:hover {
	border-color: #2f74ed;
	background-color: #ffffff;
	color: #2f74ed;
}

.boton-color-2:hover {
	border-color: #ed2f74;
	background-color: #ffffff;
	color: #ed2f74;
}

.boton-color-3:hover {
	border-color: #ed492f;
	background-color: #ffffff;
	color: #ed492f;
}

.boton-color-4:hover {
	border-color: #2fed8e;
	background-color: #ffffff;
	color: #2fed8e;
}

/*-------------------- MENU --------------------*/

#btn-menu {
	display: none;
}

nav label {
	display: none;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 2rem;
	cursor: pointer;
}

nav {
	width: 100%;
	position: fixed;
	display: flex;
	top: 0;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255, 255, 255, 1);
	z-index: 100;
}

.menu-logo {
	padding: 0 2rem;
}

.img-logo {
	width: 30%;
}

.menu-contenedor {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.menu-item {
	padding: 0 0.5rem;
}

.menu-item,
.submenu-item {
	list-style: none;
}

.menu-item a,
.menu-item span {
	display: inline-block;
	position: relative;
	color: #f02c53;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 2px;
	padding: 0.7rem 1.5rem;
	outline: none;
	cursor: pointer;
	transition: 0.3s all;
}

.menu-item a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 3px;
	box-shadow: 0px -5px 0px 0px #ffbb44;
	transition: 0.3s all;
}

.menu-item a:hover::before {
	width: 100%;
}

.submenu {
	position: relative;
}

.submenu-contenedor {
	display: block;
	background-color: #ffffff;
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 10;
	transform: scale(0.4);
	transform-origin: 70% top;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s all;
}

.submenu:hover .submenu-contenedor {
	top: 100%;
	transform: scale(1);
	visibility: visible;
	opacity: 100;
}

.submenu-item a {
	display: inline-block;
	font-weight: 500;
	width: 100%;
	color: #f02c53;
}

.submenu-item a:hover {
	border-radius: 0;
}

.progress-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	width: 0%;
	background: linear-gradient(90deg, #6e1643 0%, #dd2c85 100%);
}

@media (max-width: 575.98px) {
	nav label {
		display: block;
	}

	.menu-logo {
		width: 100%;
		padding: 0 2rem 0 0;
		text-align: right;
	}

	.menu-logo img {
		width: 20%;
	}

	.menu-contenedor {
		position: absolute;
		top: 100%;
		background-color: #ffffff;
		width: 100%;
		margin-left: -100%;
		transition: 0.5s;
	}

	.menu-contenedor {
		flex-direction: column;
	}

	.checkbox:checked ~ .menu-contenedor {
		margin: 0;
	}

	.menu-item {
		width: 100%;
		text-align: center;
	}

	.submenu-contenedor {
		left: 0;
	}
}

/*-------------------- IMAGEN PRINCIPAL --------------------*/

.imagen-principal {
	height: 700px;
	margin-top: 5rem;
	position: relative;
	overflow: hidden;
	display: block;
}

.imagen-principal.bg-1::before {
	content: '';
	width: 100%;
	height: 235%;
	position: absolute;
	bottom: 0;
	z-index: -1;
	background: url('../img/main-1.svg');
	background-size: cover;
	background-repeat: no-repeat;
}

.imagen-principal.bg-2::before {
	content: '';
	width: 100%;
	height: 235%;
	position: absolute;
	bottom: 0;
	z-index: -1;
	background: url('../img/main-2.svg');
	background-size: cover;
	background-repeat: no-repeat;
}

.imagen-principal.bg-3::before {
	content: '';
	width: 100%;
	height: 235%;
	position: absolute;
	bottom: 0;
	z-index: -1;
	background: url('../img/main-3.svg');
	background-size: cover;
	background-repeat: no-repeat;
}

.imagen-principal.bg-4 {
	width: 100%;
	height: 235%;
	background: linear-gradient(90deg, rgba(250, 115, 30, 1) 0%, rgba(234, 35, 144, 1) 33%, rgba(234, 35, 144, 1) 65%, rgba(250, 115, 30, 1) 100%);
	background-size: 500% 100%;
	transition: 0.8s all;
}

.imagen-principal.bg-5 {
	width: 100%;
	height: 235%;
	background: linear-gradient(90deg, rgba(47, 116, 237, 1) 0%, rgba(234, 35, 144, 1) 33%, rgba(234, 35, 144, 1) 65%, rgba(47, 116, 237, 1) 100%);
	background-size: 500% 100%;
	transition: 0.8s all;
}

.imagen-principal.bg-4:hover,
.imagen-principal.bg-5:hover {
	background-position: 100% 0%;
}

.imagen-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5rem;
	padding: 5rem 0;
}

.imagen-descripcion {
	color: #ffffff;
	text-align: center;
	align-self: center;
}

.imagen-descripcion p {
	font-size: 1.5rem;
	color: #ffffff;
}

.imagen-figura {
	align-self: center;
}

.imagen-figura,
.imagen-figura img {
	height: 500px;
	object-fit: initial;
}

.buscador-contenedor {
	width: 90%;
	display: flex;
}

@media (max-width: 575.98px) {
	.imagen-info {
		grid-template-columns: 1fr;
		grid-gap: 1rem;
	}
}

/*-------------------- CONTENEDOR SUBTITULO --------------------*/

.contenedor-subtitulo {
	padding: 2rem 1rem;
	margin: 5rem auto;
	border-radius: 17px;
	box-shadow: -8px -8px 20px #ffffff, 8px 8px 20px rgba(0, 0, 0, 0.3);
}

/*-------------------- IMAGEN SECUNDARIO --------------------*/

.imagen-secundario.producto {
	background: url('../img/imagen-1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.imagen-secundario.inicio-servicio {
	background: url('../img/servicios-1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.imagen-secundario.inicio-testimoniales {
	background: url('../img/imagen-26.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.imagen-secundario.servicio {
	background: url('../img/imagen-3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
}

.imagen-secundario {
	width: 100%;
	height: 350px;
	position: relative;
}

.imagen-secundario-descripcion {
	position: absolute;
	top: 0;
	width: 100%;
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
}

.gran-formato .imagen-secundario-descripcion {
	background-color: rgba(0, 0, 0, 0.6);
}

.producto .imagen-secundario-descripcion {
	border-bottom: 20px solid #2f74ed;
}

.inicio-servicio .imagen-secundario-descripcion {
	border-bottom: 20px solid #ffbb44;
}

.inicio-testimoniales .imagen-secundario-descripcion {
	border-bottom: 20px solid #dd2c85;
}

.servicio .imagen-secundario-descripcion {
	border-bottom: 20px solid #ffbb44;
}

.imagen-secundario-descripcion h2 {
	color: #ffffff;
	font-size: 3rem;
}

.imagen-secundario-descripcion p {
	color: #ffffff;
	font-size: 2rem;
	line-height: 2.5rem;
}

@media (max-width: 575.98px) {
	.imagen-secundario.servicio {
		height: 500px;
	}

	.imagen-secundario.servicio .imagen-secundario-descripcion {
		height: 500px;
	}
}

/*-------------------- PRODUCTOS Y SERVICIOS - TARJETAS --------------------*/

.card-contenedor {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 4rem;
	margin: 5rem auto;
}

.card-contenedor article {
	transition: 0.4s all;
}

.card-contenedor article:hover {
	transform: translateY(-10px);
}

.card-item {
	background: #ffffff;
	border-radius: 35px;
	padding: 2rem 1rem;
	text-align: center;
	box-shadow: -8px -8px 20px #ffffff, 8px 8px 20px rgba(0, 0, 0, 0.3);
}

.card-img {
	border-radius: 50%;
	overflow: hidden;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	box-shadow: 0px 8px 4px rgba(47, 116, 237, 0.25);
}

.card-img img {
	height: 100%;
	transition: 0.3s all;
}

.card-contenedor article:hover .card-img img {
	transform: scale(1.1);
}

.card-descripcion {
	margin-top: 2rem;
}

@media (max-width: 575.98px) {
	.card-contenedor {
		grid-template-columns: 1fr;
	}

	.card-contenedor article {
		width: 100%;
	}

	.card-img {
		width: 180px;
		height: 180px;
	}
}

/*-------------------- TESTIMONIALES --------------------*/

.card-4-contenedor {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 4rem;
	margin: 5rem auto;
}

.card-4-item {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-gap: 1rem;
	padding: 2rem;
	border-radius: 17px;
	box-shadow: -8px -8px 20px #ffffff, 8px 8px 20px rgba(0, 0, 0, 0.3);
}

.card-4-item:nth-child(1) {
	background-color: #2f74ed;
}
.card-4-item:nth-child(2) {
	background-color: #ffbb44;
}
.card-4-item:nth-child(3) {
	background-color: #dd2c85;
}

.card-4-descripcion p {
	color: #ffffff;
}

.card-4-descripcion b {
	font-size: 1.5rem;
}

.card-4-descripcion .comilla {
	color: #ffffff;
	font-size: 10rem;
	margin: 0;
}

.card-4-img {
	align-self: center;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	overflow: hidden;
	border: 5px solid #e2ecf7;
}

.card-4-img img {
	height: 100%;
}

@media (max-width: 575.98px) {
	.card-4-contenedor {
		grid-template-columns: 1fr;
	}

	.card-4-img {
		align-self: start;
		width: 100px;
		height: 100px;
	}
}

/*-------------------- FOOTER --------------------*/

footer {
	background: rgba(13, 179, 199, 0.8);
}

.contacto-subscribete-contenedor {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2rem;
	padding: 4rem 0;
}

.contacto-subscribete-contenedor h4 {
	color: #ffffff;
	margin-bottom: 1rem;
}

.contacto-subscribete-contenedor p {
	color: #ffffff;
	margin: 0;
}

.contacto-subscribete-contenedor p:nth-child(1) {
	font-weight: bold;
}

.contacto-subscribete-contenedor form {
	margin-top: 1rem;
}

.contenedor-social {
	display: flex;
	justify-content: space-around;
	margin: 2rem auto;
}

.contenedor-social-item {
	width: 3rem;
	height: 3rem;
	background-color: #ffffff;
	line-height: 3rem;
	text-align: center;
	border-radius: 50%;
	color: #000000;
}

.contenedor-derechos {
	padding: 1rem 0;
	color: #ffffff;
	background: rgba(7, 89, 100, 0.8);
}

@media (max-width: 575.98px) {
	.contacto-subscribete-contenedor {
		grid-template-columns: 1fr;
	}

	.contacto-subscribete-contenedor > div:nth-child(2) {
		margin-top: 1.5rem;
	}
}

/*-------------------- PAGINA CONTACTO --------------------*/

.contacto-contenedor {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.contacto-figura {
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contacto-formulario {
	text-align: center;
	width: 100%;
	margin: 3rem auto;
	background-color: #ffffff;
}

.formulario-control {
	text-align: left;
	margin-bottom: 1.3rem;
}

.formulario-control label {
	display: inline-block;
	margin-bottom: 0.3rem;
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea,
select {
	width: 100%;
	font-size: 1rem;
	padding: 0.4rem 0.75rem;
	line-height: 1.5;
	border: 1px solid rgba(4, 137, 152, 1);
	background-color: #ffffff;
	color: #1b1b1b;
	border-radius: 35px;
	outline: 0;
	transition: 0.2s all;
}

input:focus,
textarea:focus,
select:focus {
	color: #1b1b1b;
	border-color: rgba(4, 137, 152, 1);
	outline: 0;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3), inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}

input[type='email']:not(:placeholder-shown):invalid {
	color: red;
}

.formulario-boton {
	padding: 0 2rem;
	margin-left: 0.5rem;
	line-height: 48px;
	text-align: center;
	border-radius: 35px;
	border: none;
	outline: none;
	color: #ffffff;
	box-shadow: -5px -3px 10px #ffffff, 5px 3px 10px rgba(0, 0, 0, 0.3);
	background: linear-gradient(90deg, rgba(178, 35, 87, 1) 0%, rgba(237, 47, 116, 1) 100%);
	cursor: pointer;
	transition: 0.2s all;
}

.formulario-boton:active {
	box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px rgba(0, 0, 0, 0.3), inset -4px -4px 10px rgba(255, 255, 255, 0.5), inset 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.contacto-info-contenedor {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 3rem;
}

.contacto-info-item {
	width: 75%;
	margin: 0 auto;
	padding: 2rem;
	border-radius: 17px;
	background-color: #dd2c85;
	box-shadow: -8px -8px 20px #ffffff, 8px 8px 20px rgba(0, 0, 0, 0.3);
}

.contacto-info-item p {
	color: #ffffff;
}
.contacto-info-item p:nth-child(1) {
	font-size: 1.7rem;
}

@media (max-width: 575.98px) {
	.contacto-contenedor {
		display: grid;
		grid-template-columns: 1fr;
	}

	.contacto-info-contenedor {
		grid-template-columns: 1fr;
		grid-gap: 3rem;
	}

	.contacto-info-item {
		width: 100%;
	}
}

/*-------------------- PAGINA DE NOSOTROS --------------------*/

.info-contenedor {
	display: flex;
	justify-content: space-around;
	margin-bottom: 10rem;
	margin-top: 10rem;
}

.card-2-contenedor {
	width: 30%;
	padding: 4rem;
	background-color: #2f74ed;
	color: #ffffff;
	border-radius: 17px;
	text-align: center;
	box-shadow: -8px -8px 20px #ffffff, 8px 8px 20px rgba(0, 0, 0, 0.3);
}

.card-2-contenedor p {
	color: #ffffff;
}

.card-2-contenedor li {
	list-style: none;
	font-size: 1.5rem;
}

.equipo-titulo-contenedor {
	width: 100%;
	height: 400px;
	margin-top: 10rem;
	position: relative;
	background-color: rgba(255, 255, 255, 0.7);
}

.equipo-titulo-img:nth-child(1) {
	position: absolute;
	top: 0;
	left: 10%;
}

.equipo-titulo-img:nth-child(2) {
	position: absolute;
	top: 0;
	right: 10%;
}

.equipo-titulo-img img {
	width: 400px;
	height: 400px;
}

.equipo-titulo {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.equipo-contenedor {
	margin-top: 20rem;
	margin-bottom: 20rem;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.card-3-contenedor {
	position: relative;
	width: 20%;
	padding: 4rem;
	background-color: #2f74ed;
	color: #ffffff;
	border-radius: 17px;
	text-align: center;
	box-shadow: -8px -8px 20px #ffffff, 8px 8px 20px rgba(0, 0, 0, 0.3);
}

.card-3-header {
	width: 200px;
	height: 200px;
	position: absolute;
	top: -100px;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: #ffffff;
	padding: 0.5rem;
	border-radius: 50%;
}

.card-3-body {
	margin-top: 100px;
	color: #ffffff;
}

.card-3-body p {
	color: #ffffff;
	font-style: italic;
}

@media (max-width: 575.98px) {
	.info-contenedor {
		flex-direction: column;
		margin: auto;
	}

	.card-2-contenedor {
		width: 100%;
		margin: 3rem 0;
	}

	.equipo-titulo-contenedor {
		height: auto;
		padding: 2rem 0;
	}

	.equipo-titulo-img:nth-child(1) {
		display: none;
	}

	.equipo-titulo-img:nth-child(2),
	.equipo-titulo {
		position: initial;
	}

	.equipo-titulo-img img {
		width: 100%;
		object-fit: initial;
	}

	.equipo-contenedor {
		flex-direction: column;
		margin-top: 10rem;
		margin-bottom: 5rem;
	}

	.card-3-contenedor {
		width: 80%;
		margin: 80px auto;
	}
}

/*-------------------- BLOG --------------------*/

.blog-boton,
.blog-boton i,
.blog-imagen img {
	transition: 0.3s all;
}

.blog-contenedor {
	height: 100%;
	margin-top: 5rem;
	margin-bottom: 5rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
}

.blog-item {
	height: auto;
	background-color: #ffffff;
	box-shadow: -8px -8px 20px #ffffff, 8px 8px 20px rgba(0, 0, 0, 0.3);
	border-radius: 17px;
	overflow: hidden;
	margin-bottom: 2rem;
}

.blog-item:nth-child(1n) {
	border-top: 10px solid #2f74ed;
	border-bottom: 10px solid #2f74ed;
}

.blog-item:nth-child(2n) {
	border-top: 10px solid #ffbb44;
	border-bottom: 10px solid #ffbb44;
}

.blog-item:nth-child(3n) {
	border-top: 10px solid #dd2c85;
	border-bottom: 10px solid #dd2c85;
}

.blog-imagen {
	height: 350px;
	overflow: hidden;
}

.blog-imagen img {
	height: 100%;
}

.blog-item:hover .blog-imagen img {
	transform: scale(1.1);
}

.blog-descripcion {
	padding: 2rem;
}

.blog-tags {
	display: inline-block;
	margin: 0;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	padding: 0.2rem 0.7rem;
	background: #2f74ed;
	border-radius: 35px;
	color: #ffffff;
	font-size: 0.7rem;
}

.blog-descripcion h4 {
	color: #dd1177;
	margin: 0;
	margin-top: 0.4rem;
}

.blog-fecha {
	font-size: 1rem;
}

.blog-boton {
	color: #000000;
	cursor: pointer;
	font-weight: bold;
}

.blog-boton:hover i {
	padding-left: 0.6rem;
}

.blog-boton:hover {
	color: #2f74ed;
}

@media (max-width: 575.98px) {
	.blog-contenedor {
		grid-template-columns: 1fr;
	}

	.blog-imagen {
		height: 250px;
	}
}

/*-------------------- BLOG - PUBLICACION --------------------*/

.blog-publicacion {
	display: grid;
	grid-template-columns: 1fr 400px;
	grid-gap: 3rem;
	margin: 5rem auto;
}

.publicacion {
	background-color: #ffffff;
}

.publicacion img {
	height: 500px;
}

.publicacion-descripcion {
	padding: 2rem;
}

.publicacion-descripcion ul {
	padding-left: 1rem;
}

.sidebar {
	background-color: #ffffff;
	height: min-content;
	padding: 2rem;
}

.sidebar form {
	margin-bottom: 1rem;
	text-align: right;
}

.publicaciones-recientes {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	display: grid;
	grid-template-columns: 100px auto;
	grid-gap: 1rem;
	font-size: 0.7rem;
}

.publicaciones-recientes p {
	margin: 0;
}

.publicaciones-recientes-descripcion span {
	display: inline-block;
	margin: 0;
	margin-bottom: 0.5rem;
}

.publicaciones-recientes-tags h6 {
	margin-bottom: 1rem;
}

@media (max-width: 575.98px) {
	.blog-publicacion {
		grid-template-columns: 1fr;
	}
}
