* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #e2ecf7;
	color: #000000;
}

/* CUSTOM */
.custom-shadow {
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.bg-white {
	background-color: #ffffff;
}

img {
	width: 100%;
}

.boton {
	color: #ffffff;
	background-color: #981304;
	border: 1px solid transparent;
	outline: none;
	font-size: 18px;
	padding: 1rem 1.5rem;
	display: inline-block;
	cursor: pointer;
	border-radius: 0.25rem;
	transition: 0.3s all;
}

.boton:hover {
	color: #981304;
	background-color: #ffffff;
	border: 1px solid #981304;
}

/* NAV */
nav {
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255, 255, 255, 1);
	z-index: 100;
}

.menu-logo {
	padding: 0 2rem;
}

.menu-contenedor {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.menu-item {
	padding: 0 0.5rem;
}

.menu-item,
.submenu-item {
	list-style: none;
}

.menu-item a {
	position: relative;
	color: #f02c53;
	text-decoration: none;
	font-weight: 500;
	padding: 0.7rem 1.5rem;
	outline: none;
	transition: 0.3s all;
}

.menu-item a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 3px;
	box-shadow: 0px -5px 0px 0px #ffbb44;
	transition: 0.3s all;
}

.menu-item a:hover::before {
	width: 100%;
}

.submenu {
	position: relative;
}

.submenu-contenedor {
	display: block;
	background-color: #ffffff;
	position: absolute;
	right: 0;
	top: 200%;
	z-index: 10;
	transform: scale(0.4);
	transform-origin: 70% top;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s all;
}

.submenu:hover .submenu-contenedor {
	top: 200%;
	transform: scale(1);
	visibility: visible;
	opacity: 100;
}

.submenu-item a {
	display: inline-block;
	font-weight: 500;
	width: 100%;
	color: #f02c53;
}

.submenu-item a:hover {
	border-radius: 0;
}

/*Imagen Principal*/

.imagen-principal {
	height: 700px;
	position: relative;
	background-color: #ffffff;
}

.imagen-fondo {
	width: 100%;
	height: 700px;
	text-align: right;
}

.imagen-fondo-figura {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 1rem;
}

.imagen-fondo-figura img {
	width: 50%;
}

.imagen-descripcion {
	width: 50%;
	height: 100%;
	padding: 0 0.5rem;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: 0.3s;
}

.imagen-descripcion h1 {
	font-size: 3rem;
	font-weight: bold;
}
.imagen-descripcion p {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 1rem;
}

.buscador-contenedor {
	width: 90%;
	display: flex;
}

.centrar-texto {
	text-align: center;
	margin: 1rem 0;
}

/*Interiores*/

.img-logo {
	width: 30%;
}

.contenedor {
	display: block;
	border-radius: 5px;
	width: 95%;
	margin: 2rem auto;
}

/* FOMULARIO */

.formulario-contenedor {
	padding: 1rem;
	text-align: center;
	width: 70%;
	margin: 3rem auto;
	background-color: #ffffff;
}

.formulario-titulo {
	font-size: 2rem;
}

.formulario-control {
	text-align: left;
	padding: 1rem;
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea,
select {
	width: 100%;
	padding: 1rem;
	border: none;
	box-shadow: -5px -3px 10px #ffffff, 5px 3px 10px rgba(0, 0, 0, 0.3);
	background-color: #e2ecf7;
	color: #939393;
	border-radius: 35px;
	outline: 0;
	transition: 0.3s all;
}

input:focus,
textarea:focus,
select:focus {
	color: #939393;
	border-color: rgba(4, 137, 152, 1);
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(4, 137, 152, 0.25);
}

.formulario-boton {
	padding: 0 1.2rem;
	margin-left: 0.5rem;
	line-height: 48px;
	text-align: center;
	border-radius: 50%;
	border: none;
	outline: none;
	color: #ffffff;
	box-shadow: -5px -3px 10px #ffffff, 5px 3px 10px rgba(0, 0, 0, 0.3);
	background: linear-gradient(90deg, rgba(178, 35, 87, 1) 0%, rgba(237, 47, 116, 1) 100%);
	cursor: pointer;
}
